#initialize {
  margin-left: 2ch;
  margin-right: 6ch;
}

#raw-stats {
  border: 2px solid blue;
  font-size: 95%;
  font-family: Arial, Helvetica, sans-serif;
  height: 51ch;
  width: 44ch;
 }

#input {
  font-size: 90%;  border: 2px solid blue;
  font-size: 95%;
  font-family: Arial, Helvetica, sans-serif;
  height: 51ch;
  width: 25ch;
}

#metastats1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  width: fit-content;
  text-align: right;
  height: 4ch;
}

#metastats2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: right;
  margin-right: 2ch;
}
/* HELP - I can't seem to get the margins to set in the METASTATS, so
I put spaces into the HTML. */

#metastats3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  width: fit-content;
  text-align: right;
  margin-left: 7ch;
}

#metastats4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: right;
}

#update-tables {
  margin-left: 54ch;
  /* HELP: the line below used to raise the button level with
     the METASTATs tables */
  /* margin-top: -4ch; */
}

table {
  margin-left: 3ch;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

table td {
  height: 1ch;
  width: 3ch;
  margin-left: 5ch;
  margin-right: 5ch;
  text-align: center;
}